In [1]:
import pandas as pd

In [24]:
url = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2020-10.csv.gz'

In [4]:
!mkdir data
!cd data

In [8]:
!cd ..

In [9]:
!pwd

/workspaces/DEZoomcamp2024/notebooks

In [17]:
pd.read_csv(url, compression='gzip')

/tmp/ipykernel_65338/666672216.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv(url, compression='gzip')

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2020-10-01 00:31:19,2020-10-01 00:34:55,N,1.0,7,7,1.0,0.79,5.00,0.5,0.5,1.58,0.0,NaN,0.3,7.88,1.0,1.0,0.0
1,2.0,2020-10-01 00:42:12,2020-10-01 00:43:51,N,1.0,179,7,1.0,0.50,4.00,0.5,0.5,0.00,0.0,NaN,0.3,5.30,2.0,1.0,0.0
2,2.0,2020-10-01 00:53:09,2020-10-01 00:55:39,N,1.0,179,223,1.0,0.60,4.00,0.5,0.5,1.06,0.0,NaN,0.3,6.36,1.0,1.0,0.0
3,1.0,2020-10-01 00:12:29,2020-10-01 00:20:08,N,1.0,134,216,2.0,4.40,13.50,0.5,0.5,0.00,0.0,NaN,0.3,14.80,2.0,1.0,0.0
4,1.0,2020-10-01 00:32:38,2020-10-01 00:43:02,N,1.0,82,7,1.0,2.90,10.50,0.5,0.5,0.00,0.0,NaN,0.3,11.80,2.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95115,NaN,2020-10-19 14:28:00,2020-10-19 14:46:00,NaN,NaN,130,70,NaN,6.29,27.70,0.0,0.0,2.75,0.0,NaN,0.3,30.75,NaN,NaN,NaN
95116,NaN,2020-10-19 14:57:00,2020-10-19 15:21:00,NaN,NaN,13,42,NaN,11.42,41.11,0.0,0.0,2.75,0.0,NaN,0.3,44.16,NaN,NaN,NaN
95117,NaN,2020-10-19 14:01:00,2020-10-19 14:13:00,NaN,NaN,61,62,NaN,1.33,16.73,0.0,0.0,2.75,0.0,NaN,0.3,19.78,NaN,NaN,NaN
95118,NaN,2020-10-19 14:53:00,2020-10-19 14:59:00,NaN,NaN,205,10,NaN,1.40,18.58,0.0,0.0,2.75,0.0,NaN,0.3,21.63,NaN,NaN,NaN
95119,NaN,2020-10-19 14:22:00,2020-10-19 15:02:00,NaN,NaN,106,14,NaN,4.60,25.79,0.0,0.0,2.75,0.0,NaN,0.3,28.84,NaN,NaN,NaN

In [18]:
taxi_dtypes = {
    'VendorID': pd.Int64Dtype(),
    'passenger_count': pd.Int64Dtype(),
    'trip_distance': float,
    'RatecodeID': pd.Int64Dtype(),
    'store_and_fwd_flag': str,
    'PULocationID': pd.Int64Dtype(),
    'DOLocationID': pd.Int64Dtype(),
    'payment_type': pd.Int64Dtype(),
    'fare_amount': float,
    'extra': float,
    'mta_tax': float,
    'tip_amount': float,
    'tolls_amount': float,
    'improvement_surcharge': float,
    'total_amount': float,
    'congestion_surcharge': float 
}

parse_dates = ['lpep_pickup_datetime', 'lpep_dropoff_datetime']

In [57]:
url = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2020-10.csv.gz'

df = pd.read_csv(url,
                 sep=',',
                 compression='gzip',
                 parse_dates=parse_dates,
                )

df_final = pd.DataFrame()

for x in ['11', '12']:
    url = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2020-' + x + '.csv.gz'
    df_new = pd.read_csv(url,
                 sep=',',
                 compression='gzip',
                 parse_dates=parse_dates,
                )
    df = pd.concat([df, df_new], ignore_index=True)
    print(df.shape)

/tmp/ipykernel_65338/1442617007.py:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url,
/tmp/ipykernel_65338/1442617007.py:13: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_new = pd.read_csv(url,

(183725, 20)
(266855, 20)

/tmp/ipykernel_65338/1442617007.py:13: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_new = pd.read_csv(url,

In [58]:
df.shape

(266855, 20)

In [59]:
df = df[df['passenger_count'] > 0]

In [60]:
df = df[df['trip_distance'] > 0]

In [61]:
df.shape

(139370, 20)

In [63]:
df.VendorID.unique()

array([2., 1.])

In [64]:
df['date'] = df['lpep_pickup_datetime'].dt.date

In [65]:
df.date.nunique()

95

In [66]:
df.columns

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge',
       'date'],
      dtype='object')